<ion-view ng-controller="ProductDetailCtrl" view-title="Product Details">
  <ion-content class="has-header">
    <div class="list card">
      <div class="item item-avatar">
          <img ng-src="{{product.img}}" alt="">
          <h2>{{product.name}}</h2>
          <p>{{product.dsc}}</p>
      </div>
      <div class="item item-divider">
        <div class="row row-center">
          <div class="col col-10">
            <a class="button icon ion-plus-round royal" ng-click="addOne(product);"></a>
          </div>
          <div class="col col-center">
            <h4 class="text-center">Qty: {{product.qty}}</h4>
          </div>
          <div class="col col-10">
            <a class="button icon ion-minus-round royal" ng-click="minusOne(product);"></a>
          </div>
        </div>

      </div>

      <div class="item item-image">
        <img ng-src="{{product.img}}" alt="">
      </div>

      <div class="item item-divider">
        <div class="row row-center">
          <div class="col col-10"></div>
          <div class="col col-center">
            <a class="button button-outline button-royal icon-left ion-edit" ng-href="#/app/product/edit/{{product.$id}}">Edit Item</a>
          </div>
          <div class="col col-center">
            <button class="button button-outline button-assertive icon-left ion-close-circled" ng-click="deleteProduct(product)">Remove Item</button>
          </div>
          <div class="col col-10"></div>
        </div>

      </div>

    </div>
  </ion-content>
</ion-view>
